<div class="main">
  <div class="mode-selctor">
    <div class="top-circle inner"></div>
    <div class="mode-selector">
      <div class="players">
        <button class="btn btn-dark w-50">
          <h3>Player VS player</h3>
        </button>
      </div>
      <div class="system">
        <button (click)="navigate()" class="btn btn-dark w-50">
          <h3>Player VS Computer</h3>
        </button>
      </div>
    </div>
    <div class="image">
      <img
        src="../../../assets/undraw_gaming_re_cma2.svg"
        width="480px"
        alt=""
      />
    </div>
    <div class="bottom-circle"></div>
  </div>
</div>
