<form
  [formGroup]="regForm"
  action=""
  (ngSubmit)="regForm.valid && regFormSubmit()"
  class="w-50 mx-auto mt-5 border p-3"
>
  <h1 class="text-center">Register</h1>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="Placeholder" />
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="email?.hasError('required')">
      please provide your email adress</mat-error
    >
  </mat-form-field>
  <div class="name-field">
    <div class="row">
      <div class="col-md-6 w-100">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            formControlName="firstName"
            matInput
            placeholder="Placeholder"
          />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="firstName?.hasError('required')"
            >Please provide your first name</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-6 w-100">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            formControlName="lastName"
            matInput
            placeholder="Placeholder"
          />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="lastName?.hasError('required')"
            >Please provide your last name</mat-error
          >
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="pass-field my-3">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error></mat-error>
          <mat-error *ngIf="password?.hasError('pattern')"
            >password must have Minimum eight characters, at least one letter
            one number and one speical character</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input
            formControlName="cPassword"
            matInput
            [type]="cpassHide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="cpassHide = !cpassHide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="cpassHide"
          >
            <mat-icon>{{
              cpassHide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="password?.value !== cPassword?.value"
            >Plesae enter the same password
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Mobile Number</mat-label>
    <input formControlName="phone" matInput placeholder="Placeholder" />
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Register</button>
</form>
