<div class="task-component">
  <div class="row">
    <div class="col-8">
      <div class="task-section-content py-4 px-5">
        <div class="task-section-header mt-3">
          <h1>Today</h1>
          <p class="ml-2">{{ date | date }}</p>
        </div>
        <div class="task-section-body mt-4">
          <!-- task card -->
          <app-taskCard></app-taskCard>
        </div>
      </div>
    </div>
    <div class="col-4 pt-3 pl-4 pr-5 bg-light">
      <div class="task-day">
        <div class="task-day-header">
          <h1>TIME</h1>
          <div class="day-controlls w-100">
            <div class="prev-date date-border border">
              <button mat-button>
                <mat-icon> keyboard_arrow_left </mat-icon>
              </button>
            </div>
            <div class="date">
              <h2>{{ date | date }}</h2>
            </div>
            <div class="next-date date-border border">
              <button mat-button>
                <mat-icon> keyboard_arrow_right </mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="task-day-body pl-2 border mt-2">
          <div *ngFor="let time of times" class="time-stamp mt-3">
            <div class="time">{{ time }}</div>
            <div class="time-content mt-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
