.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.652), rgba(0, 0, 0, 0.651));
  position: absolute;
  z-index: 2;
}

.dailog {
  width: 36%;
  height: 30%;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  /* transform: scale(1);  */
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  border-radius: 5px;
  animation: scale 0.4s normal;
  z-index: 2;
}
@keyframes scale {
  from {
    height: 0;
  }
  to {
    height: 30%;
  }
}
.row {
  position: absolute;
  width: 100%;
  height: 100%;
}

.col-4,
.col-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  top: -10%;
}
.col-8 {
  text-align: center;
  /* padding: 26px; */
}
.btns {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 10px solid rgba(0, 0, 0, 0.552);
}
.btns button {
  width: 50%;
  border: none;
  height: 20%;
  border-radius: 0;
}
.btns button:nth-child(1) {
  border-right: 10px solid rgba(0, 0, 0, 0.552);
}
