<mat-toolbar [style.background]="bgColor" class="shadow">
  <button
    (click)="sideNav.toggle()"
    mat-icon-button
    *ngIf="sideNav.mode === 'over'"
  >
    <mat-icon> {{ sideNav.opened ? "close" : "menu" }} </mat-icon>
  </button>
  <h2 class="mx-3">My App</h2>
  <button class="ml-auto" mat-button [matMenuTriggerFor]="beforeMenu">
    theme
  </button>
  <mat-menu class="mat-menu" #beforeMenu="matMenu" xPosition="before">
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile [style.background]="color" *ngFor="let color of colorCodes"
        ><button
          [value]="color"
          mat-menu-item
          (click)="changeColor($event)"
        ></button
      ></mat-grid-tile>
    </mat-grid-list>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav [style.background]="bgColor" #sideNav mode="side" opened
    >Sidenav content</mat-sidenav
  >
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      router outlet here
      <p>cloololololl</p>
      <div class="grid"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
